doctype html
html(lang='en')
    head
        title='Desmos Faucet - '+chainId
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        link(rel="icon" type="image/png" href="/img/desmos-logo.png")
        link(href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css")
        link(href="https://fonts.googleapis.com/css?family=Roboto:300,400,700,900&display=swap" rel="stylesheet")
        link(href="/vendor/magnific-popup/magnific-popup.css" rel="stylesheet")
        link(href="/css/creative.min.css" rel="stylesheet")
    body(id="page-top" class="d-flex flex-column h-100 bg-light")
        nav(class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top py-3 shadow-sm" id="mainNav")
            div(class="container d-flex justify-content-between")
                a(class="navbar-brand text-light d-flex align-items-center" href="#page-top") <img class="mr-2" src="/img/desmos-logo.svg" alt="DESMOS" /> Desmos Faucet
        section(class="page-section mb-auto" style="margin-top:-6rem;")
        main(class="inner cover container text-center")
            h1(class="font-weight-bold text-secondary") Hello, dreamer!
            p(class="lead pt-3")!='You arrive here because you are different. Put your address in the box below and I will tip you some <mark>'+denom+'</mark> to start with. Let\'s dream...🙏'  
        footer(class="mt-auto bg-light py-3")
            div(class="container")
                div(class="small text-center text-muted") Copyright &copy; 2019 - <a href="https://desmos.network" >Desmos Network</a>
        script(src="/vendor/jquery/jquery.min.js")
        script(src="/vendor/bootstrap/js/bootstrap.bundle.min.js")
        script(src="/vendor/jquery-easing/jquery.easing.min.js")
        script(src="/vendor/magnific-popup/jquery.magnific-popup.min.js")
        script(src="/js/creative.min.js")